<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbappsoftware.aprotadm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DeletarFuncionarioActivity"></activity>
        <activity
            android:name=".activity.ListaNomeProjetoActivity"
            android:parentActivityName=".activity.PesquisaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListaProjComproActivity"
            android:parentActivityName=".activity.PesquisaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PesquisaActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZoomImagemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ComprovanteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListaComprovanteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DadosProjetoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListaProjetoActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DadosFuncionarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CadastroFuncionarioActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListaFuncionarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddProjetoActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EsqueceuSenhaActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CadastroActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>